{% extends 'base.html' %}
{% block content %}
  {% include 'nav.html' %}

  <div class="container mt-3">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title">Add Collage</h5>
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Add Collage Name</label>
            <input type="text" class="form-control"  required name="collage_name" id="exampleInputEmail1" aria-describedby="emailHelp" />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
